<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory >

        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
       
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- Disable the second-level cache  -->
         <!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>  -->
      
      <!--  <property name="cache.use_second_level_cache">true</property>
    <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
    <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property> -->
         
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
         
        <property name="hbm2ddl.auto">update</property>
         <mapping class="base.model.User"/> 
         <mapping class="base.model.Customer"/> 
         <mapping class="base.model.Address"/> 
    </session-factory>
</hibernate-configuration>







